
.DS_Store
**/.terraform/*
provision-gke-cluster/.terraform.lock.hcl
k6/output-extension/k6
k6/__pycache__/locustfile.cpython-37.pyc
k6/locustfile.py
terraform/terraform.tfstate.backup
terraform/terraform.tfstate
terraform/.terraform.tfstate.lock.info
terraform/.terraform.lock.hcl
*.backup